.ofertas-destacadas{
    justify-content: center;
    display: flex;
    align-items: center;
}

.Tituloofertasdestacadas{
    justify-content: space-between;
    align-items: center;
}

.Tituloofertasdestacadas div{
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 4px;
}

.Tituloofertasdestacadas div b{
    border-bottom: 2.5px solid #E72F27;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
    color: #004691;
    padding: 5px 0;
}

.img-ofertas-dest{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-ofertas-dest img{
    width: 240px;
}

.img-ofertas-dest2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.img-barra img{
    width: 1024px;
    margin: 0;
}

.img-ofertas-dest2 img{
    width: 332px;
}

.envio-gratis{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.envio-gratis img{
    width: 1130px;
}

.section-back-white{
    justify-content: flex-end;
    align-items: center;
}

.section-back-gray{
    background: #F5F5F5;
}

.section-back-gray-dark{
    background: #EBEBEB;
    height: 46px;
}

.size-section-ofertas{
    justify-content: flex-end;
    align-items: center;
    margin: 0 160px;
}

.size-section-prin{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 160px;
}