body{
    font: 1.27272727em, Arial,Helvetica,sans-serif;
}

.nav-completed{
    border-bottom: 2.5px solid  #E72F27;
    height: 90px;
}

.img-logo{
    height: 96px;
    object-fit: contain;
    width: 150px;
    margin-top: -1.6px;
    margin-left: 53px;
    margin-right: 55px;
}

.nav-principal{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 0 40px;
}

.nav-contact{
    justify-content: flex-end;
}

.ul-contact{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.ul-contact li{
    display: flex;
}

.ul-contact li a{
    display: flex;
    padding: 10px 0px;
    color: #004691;
    font-size: 11.3px;
    margin-left: 19px;
    text-decoration: none;
}

.contact-nav{
    justify-content: flex-end;
    display: flex;
}

.buscar-user-car{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.buscar-user-car div input{
    background: #fff;
    border: 1px solid #004691;
    width: 412px;
    border-radius: 3px;
    display: flex;
    font-size: 11.3px;
    font-family: Arial,Helvetica,sans-serif;
    margin-right: -29px;
    margin-left: -144px;   
    padding: 7.1px 6px;
}

button{
    width: 30px;
    height: auto;
    background-color: #E72F27;
    border-radius: 20%;
}


button img{
    width: 16px;
}

.input-browsers{
    display: flex;
}

.nav-total{
    font: 12.7273px Arial, Helvetica, sans-serif;
    justify-content: center;
}

.nav-total li a{
    font-size: 11px;

}

.img-user{
    width: 23px;
    margin: 4px;
    height: 23px;
}

.img-user1{
    width: 25px;
    margin: 4px -5px;
    height: 23px;
}

.user-carrito{
    display: flex;
}

.user-carrito li{
    display: flex;
    padding: 0 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.separator-user-car{
    border-right: 1px solid #23589C;
    min-height: 1%;    
}

.user-carrito li a{
    display: contents;
    vertical-align: middle;
    font-size: 11px;
    line-height: 16px;
    text-decoration: none;
    color: #004691;
}

.nav-menu{
    background-color: #014691;
    height: 29px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: -6px;
}

.div-menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.ul-menu li a{
    font-family: Arial,Helvetica,sans-serif;
    color: #fff;
    margin-right: 9px;
    text-decoration: none;
}

.oferta a{
    background-color: #E72F27;
    padding: 7px 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.oferta img{
    width: 15px;
    margin: 0 5px;
}

.ul-menu li{
    display: flex;
    margin: 0px 5px 0px 5px;
    border-right: 1px solid #fff;
    font-size: 10.6px;
    padding: 8px 0;
}

.medios-pago{
    justify-content: flex-end;
    align-items: center;
    margin: 0 160px;
}

.medios-pago div{
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 4px;
}

.medios-pago div b{
    border-bottom: 2.5px solid #E72F27;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
    color: #004691;
    padding: 5px 0;
}

.img-medios-pago{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-medios-pago div{
    display: flex;
    justify-content: space-around;
}

.img-medios-pago a{
    font-family: Arial,Helvetica,sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 10px 50px;
    text-decoration: none;
}

.img-medios-pago div a h4{
    margin: 0;
    color: #444444;
    text-decoration: none;
    padding: 16px 0 0;
    font-size: 12px;
}

.img-medios-pago div h5{
    margin: 0;
    text-decoration: underline;
    color: #E72F27;
    font-size: 10px;
}

.img-medios-pago img{
    width: 125px;
}